DB_HOST=mysql_payments
DB_PORT=3306
DB_NAME=see-docker-compose.yml
DB_USER=see-docker-compose.yml
DB_PASSWORD=see-docker-compose.yml
STORE_MANAGER_ORDERS_URL=http://api-gateway:8080/store-manager-api/orders
